.description {
	display: flex;
	justify-content: space-evenly;
	margin: auto;
	gap: 500px;
	width: 90%;
	line-height: 2.5em;
	margin-top: 60px;
	text-align: center;
}

.container-desc {
	display: inline-block;
	text-align: left;
	margin-left: 100px;
}

.container-desc div {
	margin-top: 70px;
}

.container-explore {
	margin-right: 100px;
}

.description p {
	font-size: 21px;
}

.desc-title {
	color: #f66d51;
	margin-bottom: 30px;
	margin-top: 30px;
}

.desc-explore {
	display: flex;
	margin: auto;
	margin-top: 20px;
}

.container-img {
	width: 100px;
	max-height: 100%;
}

.container-img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.desc-explore p {
	font-size: 21px;
	margin-left: 20px;
	margin-top: 40px;
}

.explore-btn {
	border: none;
	cursor: pointer;
	border-radius: 50px;
	color: #f66d51;
	border: 1px solid #f66d51;
	background-color: #fefefe;
	height: 30px;
	font-size: 14px;
	margin: 0 20px;
	width: 120px;
	font-family: 'Josefin Sans', sans-serif;
}

.join-btn {
	border: none;
	cursor: pointer;
	border-radius: 50px;
	color: #fefefe;
	background-color: #f66d51;
	height: 30px;
	font-size: 14px;
	margin: 0 20px;
	width: 120px;
	font-family: 'Josefin Sans', sans-serif;
}

.join-btn:focus,
.explore-btn:focus {
	outline: none;
}

.join-btn:hover {
	border: 1px solid #f66d51;
	color: #f66d51;
	background-color: #fefefe;
}

.explore-btn:hover {
	border: 1px solid #fefefe;
	color: #fefefe;
	background-color: #f66d51;
}

@media only screen and (max-width: 1000px) {
	.description {
		display: grid;
		margin: auto;
		gap: 50px;
	}

	.container-desc {
		margin-left: 0px;
		margin-bottom: 50px;
	}

	.container-explore {
		margin-right: 0px;
	}
}
