.home {
	display: flex;
	justify-content: space-around;
}

.description {
	width: 70%;
	margin-top: 100px;
}

.description h1 {
	padding-bottom: 50px;
}

.container-btn {
	display: flex;
	justify-content: left;
	margin-top: 100px;
}

.explore-btn {
	border: none;
	cursor: pointer;
	border-radius: 50px;
	color: #f66d51;
	border: 1px solid #f66d51;
	background-color: #fefefe;
	height: 30px;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: bold;
	font-size: 12px;
	width: 100px;
	font-family: 'Josefin Sans', sans-serif;
}

.join-btn {
	border: none;
	cursor: pointer;
	border-radius: 50px;
	color: #fefefe;
	background-color: #f66d51;
	height: 30px;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: bold;
	font-size: 12px;
	margin: 0 50px;
	width: 100px;
	font-family: 'Josefin Sans', sans-serif;
}

.join-btn:focus,
.explore-btn:focus {
	outline: none;
}

.join-btn:hover {
	border: 1px solid #f66d51;
	color: #f66d51;
	background-color: #fefefe;
}

.explore-btn:hover {
	border: 1px solid #fefefe;
	color: #fefefe;
	background-color: #f66d51;
}
