.sidebar {
	margin-top: 60px;
	width: 1px;
	position: relative;
	transition: width 0.5s ease-in-out;
}

.sidebar--expand {
	width: 520px;
}

span.arrow {
	position: absolute;
	left: 20px;
	top: -50px;
	font-size: 35px;
	transition: transform 0.3s linear;
	cursor: pointer;
	color: #f66d51;
}

.reverse {
	transform: rotate(180deg);
}

.sidebar-post {
	height: 100%;
}

.sidebar-data-container {
	height: 100%;
	padding: 0 10px;
}

.sidebar-data-container > .title-post {
	text-align: center;
}

.sidebar-data-container > h4 {
	margin-left: 0px 30px 0 20px;
}

.sidebar-post-image {
	width: 100%;
	height: 230px;
	object-fit: cover;
	border-radius: 5%;
}

.sidebar-footer {
	display: flex;
	justify-content: space-between;
	margin: -40px 30px 0px 20px;
}

/* .sidebar-display-none {
	display: none;
}

.sidebar-display-posts {
	display: flex;
	justify-content: center;
	height: 290px;
	width: 500px;
	margin: auto;
	margin-left: 10px;
	margin-right: 10px;
	border-top: 1px solid #f66d51;
	border-bottom: 1px solid #f66d51;
} */
