.sidebar {
	margin-top: 60px;
	width: 1px;
	position: relative;
	transition: width 0.5s ease-in-out;
}

.sidebar--expand {
	width: 520px;
}

span.arrow {
	position: absolute;
	left: 20px;
	top: -50px;
	font-size: 35px;
	transition: transform 0.3s linear;
	cursor: pointer;
	color: #f66d51;
}

.reverse {
	transform: rotate(180deg);
}

.sidebar-display-none {
	display: none;
}

.sidebar-display-posts {
	display: flex;
	justify-content: center;
	height: 290px;
	width: 500px;
	margin: auto;
	margin-left: 10px;
	margin-right: 10px;
	border-top: 1px solid #f66d51;
	border-bottom: 1px solid #f66d51;
}
