.map {
	height: 80vh;
	margin: auto;
	box-shadow: 0px 0px 30px 1px #727272;
}

.container-map {
	width: 100%;
}

.pin_card {
	display: flex;
	width: 250px;
}

.pin_image {
	width: 100px;
	height: 100px;
	display: inline-block;
	margin-right: 20px;
}

.pin_text {
	width: 70%;
}