.hub {
	display: flex;
	justify-content: space-around;
	height: 100%;
}

.hub-posts {
	border-bottom: 1px solid;
	height: 30vh;
}

.img-container {
	width: 200px;
	height: 200px;
	margin: 20px 0 0 20px;
}

.data-container {
	margin: 20px 0 0 20px;
}

.img-post {
	object-fit: cover;
	width: 200px;
	height: 200px;
}

.container-posts {
	display: grid;
	width: 50%;
	margin-top: 70px;
	box-shadow: 0px 0px 10px 1px #c9c9c9;
}

.container-map {
	width: 50%;
}
