.container-posts {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
	gap: 20px;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 100px;
}

.add-post {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.hub-posts {
	display: flex;
	justify-content: center;
	height: 300px;
	width: 500px;
	box-shadow: 0px 0px 10px 1px #c9c9c9;
	margin: auto;
	border-radius: 20px;
	border: 2px solid #f66d51;
}

.add-post button {
	border: none;
	cursor: pointer;
	border-radius: 50px;
	color: #fefefe;
	background-color: #f66d51;
	height: 30px;
	font-size: 14px;
	margin: 0 20px;
	width: 120px;
	font-family: 'Josefin Sans', sans-serif;
}

.add-post button:hover {
	border: 1px solid #f66d51;
	color: #f66d51;
	background-color: #fefefe;
}

.add-post button:focus {
	outline: none;
}

.img-container {
	width: 150px;
	height: 150px;
	margin: 20px 0 0 20px;
	box-shadow: 0px 0px 10px 1px #808080;
}

.data-container {
	margin: 20px;
	width: 400px;
	height: 260px;
	line-height: 1.1em;
}

.img-post {
	object-fit: cover;
	width: 150px;
	height: 150px;
}

.title-post {
	margin-top: 10px;
}

.date-post {
	font-size: 13px;
	margin-top: 5px;
}

.loading-error {
	display: flex;
	justify-content: center;
	color: #f66d51;
	margin-top: 10px;
}

.delete-btn {
	position: relative;
	left: 90px;
	bottom: 30px;
	border: none;
	cursor: pointer;
	border-radius: 50px;
	color: #f66d51;
	border: 1px solid #f66d51;
	height: 20px;
	font-size: 14px;
	width: 60px;
	margin-top: 10px;
	font-family: 'Josefin Sans', sans-serif;
}

.user-post {
	margin-top: 20px;
}

.delete-btn:hover {
	background-color: #ff2a00;
	color: #fefefe;
}

.delete-btn:focus {
	outline: none;
}
