.img-container {
	width: 200px;
	height: 200px;
	margin: 20px 0 0 20px;
}

.data-container {
	margin: 20px 0 0 20px;
}

.img-post {
	object-fit: cover;
	width: 150px;
	height: 150px;
}

.container-posts {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	gap: 10px;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 60px;
}

.loading-error {
	display: flex;
	justify-content: center;
	color: #f66d51;
	margin-top: 10px;
}

.delete-btn {
	border: none;
	cursor: pointer;
	border-radius: 5px;
	color: #fefefe;
	background-color: #ff2a00;
	height: 30px;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: bold;
	font-size: 12px;
	width: 30%;
	margin-top: 20px;
	font-family: 'Josefin Sans', sans-serif;
}

.delete-btn:focus {
	outline: none;
}
