* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    background: #f0f2f5;
    font-family: 'Trebuchet MS';
}

.header {
    background-color: #fefefe;
    box-shadow: 0px 0px 10px 5px #c9c9c9;
    height: 50px;
    width: 100%;
    padding: 10px;
}

