.search-container {
	display: flex;
	justify-content: left;
	position: relative;
	top: 65px;
	z-index: 1;
	margin-left: 20px;
}

.search-bar {
	display: grid;
	width: 100%;
	height: 60px;
}

.search-input {
	width: 300px;
	height: 20px;
	margin: 15px 15px 0 0;
	border: 1px solid #a1a1a1;
	border-radius: 50px;
}

.search-input + .listbox {
	display: none;
}

.search-input:focus + .listbox {
	display: block;
}

.search-input:focus {
	outline: none;
	width: 300px;
	height: 20px;
	margin: 15px 15px 0 0;
	border: 1px solid #a1a1a1;
}

.search-btn:focus {
	outline: none;
}

input[type=text] {
	padding: 15px 20px;
	box-sizing: border-box;
}

.search-btn {
	border: none;
	cursor: pointer;
	border-radius: 50px;
	color: #f66d51;
	border: 1px solid #f66d51;
	background-color: #fefefe;
	height: 30px;
	font-size: 14px;
	width: 100px;
	font-family: 'Josefin Sans', sans-serif;
}

.search-btn:hover {
	border: 1px solid #f66d51;
	color: #fefefe;
	background-color: #f66d51;
}

.listbox {
	background-color: white;
	width: 300px;
	border: 1px solid #a1a1a1;
	font-family: Arial;
	font-size: 12px;
	border-radius: 0 0 20px 20px;
	margin-top: -1px;
	overflow: hidden;
	position: absolute;
}

.listbox li {
	display: flex;
	height: 32px;
	padding-left: 20px;
	line-height: 14px;
	list-style-type: none;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
}

.listbox li:hover {
	background-color: #dfdede;
}

@media screen and (max-width: 600px) {
	.search-input {
		width: 200px;
	}
}
