.form-container {
	display: grid;
	place-items: center;
}

.add-container {
	display: flex;
	place-items: center;
	justify-content: center;
}

.container-img-preview {
	margin-left: 100px;
	width: 400px;
	height: 400px;
}

.img-preview {
	width: 400px;
	height: 400px;
	object-fit: cover;
	box-shadow: 0px 0px 30px 1px #727272;
}

.container-img-preview h5 {
	margin-top: 10px;
}

.input-wraper {
	position: relative;
	display: -ms-grid;
	display: grid;
	border: 1px;
	padding: 10px 0;
}

.input-wraper .input {
	width: 400px;
	padding: 10px 10px 10px 20px;
	border-radius: 5px;
	border: 1px solid #ededed;
	height: 40px;
	background-color: #f9f9f9;
	color: #333333;
}

.input-wraper .label {
	position: absolute;
	top: 25px;
	left: 20px;
	padding: 0 2px;
	font-size: 15px;
	background-color: #f9f9f9;
	color: #a1a1a1;
	font-family: 'Josefin Sans', sans-serif;
	top: 0;
}

.btn {
	border: none;
	cursor: pointer;
	border-radius: 5px;
	color: #f66d51;
	background-color: #fefefe;
	border: 1px solid #f66d51;
	height: 30px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 14px;
	width: 100%;
	margin-top: 20px;
	font-family: 'Josefin Sans', sans-serif;
}

.btn:hover {
	border: 1px solid #f66d51;
	color: #fefefe;
	background-color: #f66d51;
}

.btn:focus {
	outline: none;
}

.select-wraper {
	-webkit-appearance: none;
	border: 1px solid #ededed;
	padding: 12px 0 12px 20px;
}

.select-wraper:hover {
	border: 1px solid #f66d51;
	background-color: #fefefe;
	cursor: pointer;
}

input[type="file"] {
	display: none;
}

.file-label {
	padding: 12px 0 0px 20px;
	font-size: 15px;
	background-color: #f9f9f9;
	color: #a1a1a1;
	font-family: 'Josefin Sans', sans-serif;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #ededed;
	cursor: pointer;
}

.file-label:hover {
	border: 1px solid #f66d51;
	background-color: #fefefe;
}

.input:focus {
	outline: none;
}
