.form-container {
	display: grid;
	place-items: center;
}

.add-container {
	display: grid;
	place-items: center;
	position: relative;
	bottom: 80px;
}

.container-img-preview {
	position: relative;
	bottom: -110px;
	left: 150px;
	width: 100px;
	height: 100px;
}

.img-preview {
	object-fit: cover;
	width: 100px;
	height: 100px;
	box-shadow: 0px 0px 10px 1px #9c9c9c;
}

.container-img-preview h5 {
	margin-top: 10px;
}

.container-img-preview-none {
	display: none;
}

.title p {
	font-size: 12px;
	margin-top: 5px;
}

.input-wraper {
	position: relative;
	display: -ms-grid;
	display: grid;
	border: 1px;
	padding: 10px 0;
}

.input-wraper .input {
	width: 400px;
	padding: 10px 10px 10px 20px;
	border-radius: 5px;
	border: 1px solid #ededed;
	height: 40px;
	background-color: #f9f9f9;
	color: #333333;
}

.input-location-none {
	display: none;
}

.input-wraper .label {
	position: absolute;
	top: 25px;
	left: 20px;
	padding: 0 2px;
	font-size: 15px;
	background-color: #f9f9f9;
	color: #a1a1a1;
	font-family: 'Josefin Sans', sans-serif;
	top: 0;
}

.btn {
	border: none;
	cursor: pointer;
	border-radius: 5px;
	color: #f66d51;
	background-color: #fefefe;
	border: 1px solid #f66d51;
	height: 30px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 14px;
	width: 100%;
	margin-top: 20px;
	font-family: 'Josefin Sans', sans-serif;
}

.btn:hover {
	border: 1px solid #f66d51;
	color: #fefefe;
	background-color: #f66d51;
}

.btn:focus {
	outline: none;
}

.select-wraper {
	-webkit-appearance: none;
	border: 1px solid #ededed;
	padding: 12px 0 12px 20px;
}

.select-wraper:hover {
	border: 1px solid #f66d51;
	background-color: #fefefe;
	cursor: pointer;
}

input[type="file"] {
	display: none;
}

.file-label {
	padding: 12px 0 0px 20px;
	font-size: 15px;
	background-color: #f9f9f9;
	color: #a1a1a1;
	font-family: 'Josefin Sans', sans-serif;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #ededed;
	cursor: pointer;
}

.file-label:hover {
	border: 1px solid #f66d51;
	background-color: #fefefe;
}

.input:focus {
	outline: none;
}

@media only screen and (max-width: 600px) {
	.description {
		display: grid;
		margin: auto;
		gap: 50px;
	}

	.container-desc {
		margin-left: 0px;
		margin-bottom: 50px;
	}

	.container-explore {
		margin-right: 0px;
	}

	.input-wraper .input {
		width: 300px;
	}
}
